name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install
        run: npm ci
      - name: Prisma generate
        run: npm run prisma:generate
      - name: Build
        run: npm run build
      - name: Build server
        run: npm run server:build
      - name: Lint
        run: npm run lint
